/*Hugo Savard Fichier CSS pour PFI*/
/*general*/
/*HEADER*/
.top-page{
    background-color: #b6b6b6;
    display: grid;
    grid-template-columns: 8fr 2fr;
    height: 25vh;
    
    
}
.top-partie-gauche{
    display: grid;
    grid-template-rows: 10fr 9fr;
}
#titre-page{
    color: #8d0000;
    font-family: EB Garamond;
    font-size: 600%;
    position: relative;
    left: 50px;
}
.index{
   display: flex;
   justify-content: space-around;    
   
}
.boutton-index{
    border: solid #8d0000 2px;
    font-size: 110%;
    color: black;
    padding: 4px;
    height: 3vh;
    display: flex;
}
.lien-index:link{
    color: #000000;
}
.lien-index:hover{
    color: #8d0000;
}
.lien-index:visited{
    color: rgb(00,00,00);
}
.lien-index:active{
    color: #8d0000;
}
.logo-top{
    height: 35vh;
    position:relative;
    bottom: 15%;
    
}
body{
    background-color: #d0d0d0;
    
}

p{
    color: #8d0000;
}
string{
    color: #8d0000;
}
h1{
    font-size: 300%;
    display: flex;
    justify-content: center;
}
/*FOOTER*/
.pied-page{
    background-color: #b6b6b6;
    height: 10vh;
}
.crédit{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    color: #8d0000;
    font-size: larger;
}

/*PAGE 1*/
.corps-page{
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 6fr 1fr 4fr;
}

.texte-intro{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 140%;
}
.section-image-intro{
    display: grid;
    grid-template-rows: 9fr 1fr;
}
.image-intro{
    display: flex;
    border-radius: 10%;
    position: relative;
    top: 10vh;
}
.legende-photo-intro{
    display: flex;
    grid-column-start: 2;
    position: relative;
    top: 5vh;
    font-size: 80%;
    justify-content: center;
}
.quotes{
    display: flex;
    position: relative;
    top: 10vh;
    left: 8vw;
    font-size: 160%;
}
.quotes2{
    display: flex;
    position: relative;
    top: 30vh;
    left: 8vw;
    font-size: 160%;
}

/*PAGE 2*/
.corps2{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-rows: 10fr 2fr;
}
.assassins{
    display: grid;
    border: solid #8d0000;
    border-radius: 5%;
    grid-template-rows: 6fr 4fr;
    color: #8d0000;
    
}
.assassins:hover{
    background-color: #8d0000;
    color: white;
}
.description{
    padding: 5%;
    font-size: larger;
}
.altair{
    display: flex;
    position: relative;
    left: 7vw;
    height: 597px;
    width: 248px;
}
.ezio{
    display: flex;
    position: relative;
    left: 7vw;
    height: 597px;
    width: 248px;
}
.connor{
    display: flex;
    position: relative;
    left: 7vw;
    height: 597px;
    width: 300px;
}
.lien-plus-info{
    grid-column-start: 2;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10vh;
    font-size: larger;  
}
.lien-personnage{
    color: #8d0000;
}
.lien-personnage:visited{
    color: #8d0000;
}
.lien-personnage:active{
    color: black;
}

/*PAGE 3*/
.corps3{
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 5fr 5fr;
}
.intro-conflit{
    display: grid;
    grid-template-rows: 2fr 4fr;
}
.texte-conflit{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 140%;
}
.logo-templier{
    height: 400px;
    width: 400px;
}
.image-conflit{
    border-radius: 10%;
    position: relative;
    left: 6%;
}
.liste-nom{
    font-size: larger;
}
li:nth-child(odd){
    color: #8d0000;
}
/*PAGE4*/
.corps4{
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 5fr 5fr;
}
.intro-réalité{
    display: grid;
    grid-template-rows: 2fr 4fr;
}
.texte-réalité{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 140%;
}
.perso-historique{
    font-size: larger;
    padding: 4%;
}
td{
    border: #8d0000 2px solid;
}
.tableau-date{
    position: relative;
    top: 30%;
    right: 3%;
    
}
.image-décors{
    border-radius: 10%;
    position: relative;
    left: 7%;
}