/*Hugo Savard Fichier CSS pour PFI*/

/*HEADER*/
.top-page{
    background-color: #b6b6b6;
    display: grid;
    grid-template-columns: 8fr 2fr;
    height: 25vh;
    
    
}

.top-partie-gauche{
    display: grid;
    grid-template-rows: 10fr 9fr;
}

.titre-page{
    color: #8d0000;
    font-family: EB Garamond;
    font-size: 600%;
    position: relative;
    left: 50px;
}

.index{
   display: flex;
   justify-content: space-around;    
   
}

.boutton-index{
    border: solid #8d0000 2px;
    font-size: 110%;
    color: black;
    padding: 4px;
    height: 3vh;
    display: flex;
}
.lien-index:link{
    color: #000000;
}
.lien-index:hover{
    color: #8d0000;
}
.lien-index:visited{
    color: rgb(00,00,00);
}
.lien-index:active{
    color: #8d0000;
}

.logo-top{
    height: 35vh;
    position:relative;
    bottom: 15%;
    
}

/*BODY*/
body{
    background-color: #d0d0d0;
    
}
.corps-page{
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 6fr 4fr;
}

.introduction-jeux{
    color: #8d0000;
    
    
}
.intertitre-intro{
    font-size: 300%;
    display: flex;
    justify-content: center;
}
.texte-intro{
    display: flex;
    justify-content: center;
    font-size: 140%;
}
.section-image-intro{
    display: flex;
    flex-direction: column;
}
.image-intro{
    display: flex;
    border-radius: 10%;
    position: relative;
    top: 10vh;
}
.legende-photo-intro{
    display: flex;
    color: #8d0000;
    font-size: 30%;
}